
.navbar.navbar-inverse {
  background-color: #378682;
  border-color: #696464;
}

body {
  color: #5e6565;
}

.section {
  float: left;
  margin: 0 1.5%;
  width: 58%;
}

.aside {
  float: right;
  margin: 0 1.5%;
  margin-right: 7%;
  width: 30%;
}

//  USER SHOW PAGE START
// .profilename {
//   align-content: center;
// }

#user-show-container {
  display: flex;
  justify-content: space-around;

  width: 95%;
}

.hikes {
  // display: flex;
  // justify-content: space-between;
  // margin-top: .5%;
  margin-left: 17%;
  width: 30%;
}

.hikecontent {
  margin-top: 4%;
  border: solid 1px;
  border-color: #f7f7f7;
  width: 100%;
}

.trailname {
  display: flex;
  justify-content: space-around;
}

.reviews {
  // float: right;
  //
  // margin-top: .5%;
  // margin-left: 1.5%;
  // border: solid 4px;
  margin-right: 17%;
  width: 30%;
  // height: 384px;
}

.reviews2 {
  // border: solid 4px;
  overflow: scroll;
  height: 384px;
}

.entry {
  margin-top: 3%;
  border: solid 1px;
  border-color: #f7f7f7;
  width: 85%;
}

.comment {
  display: flex;
  margin-top: 1%;
  justify-content: space-between;
}

.delete {
  display: flex;
  justify-content: flex-end;

}
//  USER SHOW PAGE END

.revs {
  float: right;
  margin-top: 3%;
  margin-right: 7%;
  width: 30%;
}




.index {
  margin-left: 2%;
}

.show {
  margin-left: 2%;
}

.revbox {
  border: solid 1px;
  border-color: #f7f7f7;
  width: 100%;
}
