
.navbar.navbar-inverse {
  background-color: #378682;
  border-color: #696464;
}

body {
  color: #5e6565;
}

.section {
  float: left;
  margin: 0 1.5%;
  width: 58%;
}

.aside {
  float: right;
  margin: 0 1.5%;
  margin-right: 7%;
  width: 30%;
}

.hikes {
  float: left;
  margin-top: .5%;
  margin-left: 10%;
  width: 26%;
}

.reviews {
  float: right;
  margin-top: .5%;
  margin-left: 1.5%;
  margin-right: 30%;
  width: 30%;
}

.revs {
  float:right;
  margin-top: 7%;
  margin-right: 7%;
  width: 30%;
}
